<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Dairy</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    
    <header class="navbar">
        <div class="navbar__brand">
            <img class="navbar__logo" src="../static/logo1.svg" alt="The Microblog logo"/>Football Diary
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Recent</a> </li>
            <li class="navbar__navigation-item"> <a href="#" class="navbar__link">Calendar</a> </li>
        </ul>
    </header>

    <main class="main">
        
        <!-- displaying input section -->
        <section>
            <h1>Add a new story</h1>
            <form class="form" action="/" method="POST">
                <p class="form__input">
                <label class ="form__label" for="sample-field">What's on your mind:</label>
                <input type="text" name="title" id="sample-field">
                <textarea class="form__textarea" name="content" id="sample-field" cols="30" rows="10">

                </textarea>
                </p>
                <!-- <input type="text" name="sample" id="sample-field" /> -->
                <button type="submit" class="form__submit">Add entry</button>
            </form>
        </section>

        <!-- dispalying posts -->
        <section>
            <h1>Recent posts</h1>
            
            {% for entry in entries: %}
            <article class="entry">
                <div>
                    <h2 class="entry__title">{{entry[0]}}</h2>
                    <time class="entry__date" datetime="04-04-2024">{{entry[2]}}</time>
                </div>
                <p class="entry__content">
                    {{entry[1]}}
                </p>
            </article>
            {% endfor %}
        </section>
    </main>

    <footer class="footer">
        <div class="footer__content">
            <section class="left">
                <a href="#" class="footer__item">Made by Nabeel</a>
                <a href="#" class="footer__item">Check out my other projects</a>
            </section>
            <section class="right">
                <div class="footer__column">
                    <a href="#" class="footer__item">Recent</a>
                    <a href="#" class="footer__item">Calendar</a>
                </div>
                <div class="footer__column">
                    <a href="#" class="footer__item">About</a>
                    <a href="#" class="footer__item">How this was made</a>
                </div>
            </section>
        </div>
    </footer>

</body>
</html>